/* index.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%; /* Kapsayıcıların tam boy olmasını sağlar */
}

body {
  background-color: #0c0c16;
  color: #ececec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}