.chatlist {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr{
        border: 1;
        height: 2px;
        background-color: #ddd;
        opacity: 0.1;
        border-radius: 5px;
        margin: 20px 0px;
    }

    .title {
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 10px;
    
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;     /* scroll özelliği var */
        overflow-x: hidden;   /* yatay overflow engellendi */
        white-space: nowrap;
        text-overflow: ellipsis;
        
        /* Firefox */
        scrollbar-width: thin;
        scrollbar-color: #3f3f46 transparent;
    }
    a {
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: #2c2937;
        }
    }

    /* Chrome & Safari */
    .list::-webkit-scrollbar {
        width: 6px;
    }

    .list::-webkit-scrollbar-track {
        background: transparent;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: #3f3f46; 
        border-radius: 20px;
        border: 1px solid transparent;
    }

    .list::-webkit-scrollbar-thumb:hover {
        background-color: #52525b;
    }

    .upgrade {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        img{
        width: 32px;
        height: 32px;
        }

        .texts {
            display: flex;
            flex-direction: column;

            span {
                &:first-child {
                    font-weight: 600;
                }
                &:last-child {
                    color: #888;
                }
            }
        }
    }

    
}
